.bodyOfModal {
  display: flex;
  justify-content: center;
}

.imgWrapper {
  height: 460px;
  width: 400px;
  position: relative;
}

.bodyOfModal img{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-height: fit-content;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-bottom: 20px solid green;
  cursor: pointer;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid red;
  cursor: pointer;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid black;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-right:20px solid black;
}

.arrowContainer {
  display: flex;
  margin-right: auto !important;
  align-items: center;
}

.votes {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.commentSection {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.commentButton {
  margin: 0;
  display: flex;
  padding: 15px;
  padding-top: 0px;
  justify-content: flex-end;
}

.comments {
  margin: 0;
}

.singleComments {
  width: 100%;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-top: 1px solid #dee2e6;
}

.commentUser {
  font-weight: bold;
}

.commentDate {
  font-weight: lighter;
  font-size: 15px;
  float:right;
}

.commentSection textarea {
  width:100%;
  height:100%;
  padding-left: 7px;
}

.spinnerRow {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
